body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 100px;
  /* background-color:rgb(37, 37, 37); */
  background: rgb(202, 114, 154);
  background: radial-gradient(
    circle,
    rgba(202, 114, 154, 0.9) 0%,
    rgba(80, 122, 173, 0.9) 100%
  );
  animation: bg-animation 30s ease-in-out infinite alternate;
  background-size: 500%;
  background-attachment: fixed;
  color: white;
}

@keyframes bg-animation {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
